/* contact Header */
#contactHeader{
  color: black;
  margin-top: 70px;
}
/* contact icons */
.contactIcon{
 color: orange;
}
/* contact info */
.contactInfo{
  margin-left: 20px;
  margin-bottom: 30px;
}
/* custom google map */
#customMap{
  margin-top: 200px;
  text-align: center;
  color: black;
}