/* get started area */
#getStarted{
  margin-top: 100px;
}
/* getting started image */
#scrollerImage {
  /* The image used */
  background-image: url('../img/header3.jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding: 20px 20px;
  width: 100%;
  opacity: 4.5;
}
/* getting started text */
#scrollerText{
  text-align: center;
  color: white;
}
/* getting started link*/
#scrollerImage h2{
  text-align: right;
  margin-right: 150px;
}
/* get started link on mobile */
@media screen and (max-height: 767px) {
  #scrollerImage h2 {
    text-align: center;
    margin-right: 0px;
  }
}
/* orange btn */
.orangeBtn {
  color: orange;
  background-color: white;
  border-color: white;
  border-radius: 0px;
  display: block;
  margin: 0 auto;
  margin-top: 20px
}
/* orange button on hover etc ..... */
.orangeBtn:focus, .orangeBtn:hover, .orangeBtn:active{
  color: white;
  background-color: orange;
  border-color: orange;
}