/* changing carousel height to 100% */
.carouselHeader {
  height: 100vh;
}
/* carousel caption */
.headerCaption{
  top: 15vh;
}
/* adding margin to bottom of caption */
.headerCaption h3{
  margin-bottom: 30px;
}
/* changing carousel image full height for header */
.carousel-inner>.item>a>img, .carousel-inner>.item>.carouselImage {
  line-height: 1;
  height: 100vh;
  width: 100%;
  display: block;
  opacity: 7.4;
}
.orangeBtnLink{
  color: orange;
  background-color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 20px;
}
.orangeBtnLink:hover, .orangeBtnLink:active,.orangeBtnLink:focus {
  color: white;
  background-color: orange;
  text-decoration: none;
}