#serviceHeader{
  color: orange;
  margin-top: 50px;
  margin-bottom: 30px;
}
#serviceSubHeader{
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
.serviceHolder{
  text-align: center;
  color: grey;
  margin-bottom: 30px;
}
.serviceIcon{
  color: orange;
}