#serviceSection{
  margin-top: 5px;
  margin-bottom: 75px;
}
/* service Header */
#serviceHeader{
  color: orange;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* service sub header/info */
#serviceSubHeader{
  text-align: center;
  color: black;
  margin-bottom: 30px;
}
/* service holder */
.serviceHolder{
  text-align: center;
  color: grey;
  margin-bottom: 30px;
}
/* service icons */
.serviceIcon{
  color: orange;
}
/* image of person */
#personImage{
  width: 100%;
  height: 300px;
}