/* changing testimonial carousel image height */
.carouselTestImage{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}
/* custom carousel for testimonial */
.testCarousel{
  padding-top: 40px;
  padding-bottom: 55px;
  margin-bottom: 60px;
  color: white;
  text-align: center;
  background-color: black;
}
.testName{
  color: grey;
  padding-bottom: 15px;
}
/* carousel user image */
.testImage{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}